
#container{
    padding: 0;
    margin: 0;
}

header{
    padding: 2rem;
}

footer{
    height: 40vh;
    background: #F25252;
}

p{
    text-align: justify;
}

svg{
    color: #FAE2E2;
    transform: scale(2);
    margin: 2rem;
}

svg:hover{
    color: #F6C270;
}

.btn{
    background: #6C757D;
    color: #FFF;
 }

#personas{
    padding: 4rem;
}

#separacion{
    height: 1rem;
    background: #FAE2E2;
}

#texto-inicio{
    padding: 2rem;
}

#dev, a{
    color: #FAE2E2;
}

